.countryPage{
    padding: 1rem 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.info_container{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; */
}
.img_container{
    height: 300px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
h3{
    font-weight: 400;
    font-size: 16px;
}