.app{
  margin: 0 auto; 
  max-width: 1800px;
  min-height: 1000px;
  background: #f9f6f7;
}
.container{
  margin: 0 auto;
  /* background: chartreuse; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 0.5rem;
}
